{#{% extends "TecUserBundle::layout.html.twig" %}#}
{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet" type="text/css" />
    <!-- PROFILE STYLE SHEET -->
{% endblock %}

{% block title %} {{ parent() }}{% endblock %}

{% block img_h3 %}src="{{ asset('images/pictos/admin2.png') }}" alt="Administration" width="100" height="100"{% endblock %}
{% block h3 %}Administration{% endblock %}

{% block body %}
{{ parent() }}
{# USERS #}
<section>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert-success has-success">{{ flashMessage }}</div>
    {% endfor %}
    
    <div class="container">
        {# TAB GESTION USERS #}
        <div class="col-xs-12 panel panel-default">        
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Gestion users</div>
                <div class="panel-body">
                  <p>blabla ... gestion users</p>
                </div>
                <!-- Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% set indice = 1 %}  
                    {% for user in users %}
                    <tr>
                      <th scope="row">{{ indice }}</th>
                      <td>{{ user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td><a href="{{ path('tec_service_updateuser',{'id': user.id}) }}"> Modifier</a><a href="{{ path('tec_service_deluser',{'id': user.id}) }}"> Supprimer</a></td>
                    </tr>
                    {% set indice= indice + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>              
        </div>
        <div class="col-xs-12">          
            <a href="{{ path('tec_service_adduser') }}"><input type="button" class="btn btn-primary btn-lg col-xs-2 col-md-2 form-control" value="Ajouter un utilisateur"/></a>
        </div>
    </div>
</section>
        
{# ANNONCES #}
<section>
    <div class='container'>
        {# TAB GESTION ANNONCES #}
        <div class="col-xs-12 panel panel-default">        
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Gestion annonces</div>
                <div class="panel-body">
                  <p>blabla ... gestion annonces</p>
                </div>
                <!-- Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Proprietaire</th>
                      <th>Titre</th>
                      <th>Description</th>
                      <th>Remarques</th>
                      <th>Périmetre</th>
                      <th>Aide</th>
                      <th>Diffusion</th>
                      <th>Active</th>
                      <th>Date création</th>
                      <th>Date suppression</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% set indice = 1 %}  
                    {% for annonce in annonces %}
                    <tr>
                      <th scope="row">{{ indice }}</th>
                      <td>{{ annonce.getUser.getUsername }}</td>
                      <td>{{ annonce.title }}</td>
                      <td>{{ annonce.description | truncate(10) }}</td>
                      <td>{{ annonce.remarques | truncate (10) }}</td>
                      <td>{{ annonce.perimetre }}</td>
                      <td>{{ annonce.aide }}</td>
                      <td>{{ annonce.diffusion }}</td>
                      <td>{{ annonce.active }}</td>
                      <td>{{ annonce.creationDate | date('d/m/y') }}</td>
                      <td>{{ annonce.deleteDate | date('d/m/y') }}</td>
                      <td><a href="{{ path('tec_service_updateannonce',{'id': annonce.id}) }}"> Modifier</a><a href="{{ path('tec_service_delannonce',{'id': annonce.id}) }}"> Supprimer</a></td>
                    </tr>
                    {% set indice= indice + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>   
        <div class="col-xs-12"> 
            {% for flashMessage in app.session.flashbag.get('addannonce') %}
                {{ flashMessage }}
            {% endfor %}
            <a href="{{ path('tec_service_addannonce') }}"><input type="button" class="btn btn-primary btn-lg col-xs-2 col-md-2 form-control" value="Ajouter une annonce"/></a>
        </div>
    </div>
</section>

{# CATEGORIES #}
<section>
    <div class='container'>
        {# TAB GESTION CATEGORIES #}
        <div class="col-xs-12 panel panel-default">        
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Gestion categories</div>
                <div class="panel-body">
                  <p>blabla ... gestion categories</p>
                </div>
                <!-- Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nom</th>
                      <th>Description</th>   
                      <th>Image</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% set indice = 1 %}  
                    {% for categorie in categories %}
                    <tr>
                      <th scope="row">{{ indice }}</th>
                      <td>{{ categorie.name }}</td>
                      <td>{{ categorie.description }}</td> 
                      <td>
                          {% if categorie.media != null %}                
                            <img
                            src="{{ asset(categorie.media.uploadDir ~ '/' ~ categorie.media.id ~ categorie.media.path) }}"
                            alt="{{ categorie.media.alt }}"
                            width="70px"
                            heigth="70px"
                          />
                        {% endif %}
                      </td>
                      <td><a href="{{ path('tec_service_updatecategorie',{'id': categorie.id}) }}"> Modifier</a><a href="{{ path('tec_service_delcategorie',{'id': categorie.id}) }}"> Supprimer</a></td>
                    </tr>
                    {% set indice= indice + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>  
        <div class="col-xs-12">          
            <a href="{{ path('tec_service_addcategorie') }}"><input type="button" class="btn btn-primary btn-lg col-xs-2 col-md-2 form-control" value="Ajouter une categorie"/></a>
        </div>
    </div>
</section>
        
{# SOUS-CATEGORIE #}
<section>
    <div class='container'>
        {# TAB GESTION SOUS-CATEGORIES #}
        <div class="col-xs-12 panel panel-default">        
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Gestion sous-categories</div>
                <div class="panel-body">
                  <p>blabla ... gestion sous-categories</p>
                </div>
                <!-- Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nom</th>
                      <th>Catégorie</th>
                      <th>Description</th>                  
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% set indice = 1 %}  
                    {% for subcategorie in subcategories %}
                    <tr>
                      <th scope="row">{{ indice }}</th>
                      <td>{{ subcategorie.name }}</td>
                      <td>{{ subcategorie.getCategorie.getName }}</td>
                      <td>{{ subcategorie.description }}</td>                  
                      <td><a href="{{ path('tec_service_updatesubcategorie',{'id': subcategorie.id}) }}"> Modifier</a><a href="{{ path('tec_service_delsubcategorie',{'id': subcategorie.id}) }}"> Supprimer</a></td>
                    </tr>
                    {% set indice= indice + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12">   
            {% for flashMessage in app.session.flashbag.get('addsubcategorie') %}
                {{ flashMessage }}
            {% endfor %}
            <a href="{{ path('tec_service_addsubcategorie') }}"><input type="button" class="btn btn-primary btn-lg col-xs-2 col-md-2 form-control" value="Ajouter une sous-catégorie"/></a>
        </div>
    </div>
</section>

{# TYPES #}
<section>
    <div class='container'>
        {# TAB GESTION TYPES #}
        <div class="col-xs-12 panel panel-default">        
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Gestion types</div>
                <div class="panel-body">
                  <p>blabla ... gestion types</p>
                </div>
                <!-- Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Intitulé</th>                                   
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% set indice = 1 %}  
                    {% for type in types %}
                    <tr>
                      <th scope="row">{{ indice }}</th>
                      <td>{{ type.intitule }}</td>                
                      <td><a href="{{ path('tec_service_updatetype',{'id': type.id}) }}"> Modifier</a><a href="{{ path('tec_service_deltype',{'id': type.id}) }}"> Supprimer</a></td>
                    </tr>
                    {% set indice= indice + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12">          
            <a href="{{ path('tec_service_addtype') }}"><input type="button" class="btn btn-primary btn-lg col-xs-2 col-md-2 form-control" value="Ajouter un type"/></a>
        </div>
    </div>
</section>
        
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
{% endblock %}

