{#{% extends "TecServiceBundle::layout.html.twig" %}

{#{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <section id="works">
        
        {# test select json
        <select id="selectjson" name="selectjson">
            
        </select>#}
        
{#        <select class="col-xs-12 col-md-4 form-control " name="categorie" autofocus>#}
{#            <option value="" id="hidden">Choisissez une catégorie</option>#}
            {#{% for categorie in categories %}
                <option value="{{ categorie.id }}" class="optionGroup">{{ categorie.name }}</option>
                {% for subcategorie in subcategories %}
                    <option value="{{ categorie[subcategorie.id] }}">{{ categorie[subcategorie.name] }}</option>
                {% endfor %}
            {% endfor %}#}
            
            {#{% for categorie, subcategories in categories %}
                * {{ categorie.name }}
              {% for subcategorie in subcategories %}
                  {% if subcategorie.categorie == categorie.id %}
                  - {{ loop.parent.loop.index }}: {{ subcategorie.name }}
                  {% endif %}
              {% endfor %}
            {% endfor %}#}
            
            
           {# {% for cat, subcat in categories %}
              {% for categorie in cat %}
                * {{ loop.index }}: {{ cat.name }}
              {% endfor %}
              {% for subcategorie in subcat %}
                  - {{ loop.parent.loop.index }}.{{ loop.index }}: {{ subcategorie.name }}
              {% endfor %}
            {% endfor %}#}
           
           {#exemple {% for child in childs %}
                <li>
                  <span>{{child.name}}</span>
                  <ul style="list-style: square;padding-left: 20px;">
                    {% for item in items[child.id] %}
                      {% if loop.index < 4 %}
                        <li><span>{{ item.title }}</span></li>
                      {% else %}
                        <li style="display:none;"><span>{{ item.title }}</span></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>     
              {% endfor %}#}
              
    {#{% for categorie in categories %}
        <li>
          <span>{{categorie.name}}</span>
          <ul>
            {% for subcategorie in subcategories[categorie.id] %}
{#              {% if loop.index == 4 %}
                <li><span>{{ subcategorie.name }}</span></li>
              {#{% else %}
                <li><span>{{ subcategorie.name }}</span></li>#}
{#              {% endif %}
            {% endfor %}
          </ul>
        </li>     
      {% endfor %}#}

            
            {#{% for cat, subcat in categories %}
                {% for categorie in cat %}
                    * {{ categorie.name }}
                    {% for subcategorie in subcat %}
                        {% if subcategorie.categorie == categorie.id %}
                        - {#{{ loop.parent.loop.index }}: {{ subcategorie.name }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                
            {% endfor %}#}
            
            
           {# {% for cat in categories %}
                {% for categorie in cat %}
                  {{categorie.name}}{#: loop={{loop.index0}}, parent_loop={{loop.parent.loop.index0}}
                
                  {% for subcat in categories %}
                      {% for subcategorie in subcat %}
                        {{subcategorie.name}} {{loop.parent.loop.index}}
                      {% endfor %}
                  {% endfor %}
                {% endfor %}
                
              {% endfor %}#}
{#        </select>#}
        
        {#<h3>Categories:</h3>
        <ul>
        {% for categorie in categories %}
            <li>{{ categorie.id ~ " " ~ categorie.name ~ " " ~ categorie.description }}<a href="{{ path('tec_service_updatecategorie',{'id': categorie.id}) }}"> Modifier</a><a href="{{ path('tec_service_delcategorie',{'id': categorie.id}) }}"> Supprimer</a></li>
            {% if categorie.media != null %}
                
                <img
                src="{{ asset(categorie.media.uploadDir ~ '/' ~ categorie.media.id ~ categorie.media.path) }}"
                alt="{{ categorie.media.alt }}"
                width="100px"
                heigth="100px"
              />
            {% endif %}
            
            {#<ul>
                {% for subcategorie in categorie.getSubCategories %}
                    <li>{{ subcategorie.id ~ " " ~ subcategorie.name ~ " " ~ subcategorie.description }}</li>
                    <ul>
                        {% for annonce in subcategorie.getAnnonces %}
                            <li>{{ annonce.id ~ " " ~ annonce.title }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
        
        <div id="resultat"></div>
        
        
        <button id="btn-subcategorie" name="btn-subcategorie">Afficher toutes les subcategories</button>
        <button id="btn-load" name="btn-load">Afficher toutes les subcategories 2</button>
        </ul>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
    <script>
        
        //test select json
        //Genere un select avec les villes de belgique
        $.ajax({
            //dataType: "json",
            url: "{{ asset('/uploads/villes.json') }}",
            success: function(data){
                //console.log("ok");
                //console.log(data);
                $.each(data, function(a, b){
                    //console.log(b.cp);
                    $("#selectjson").append($("<option></option>").attr("value", b.cp).text(b.localite));
                    
                
                });
            },
            error: function(){
                console.log("erreur");
                }
      });
      /**
       * fin genere select avec les villes de belgique
       */
      
    /*  $.getJSON("{{ asset('/uploads/villes.json') }}", function(data){
          console.log(data);
      });*/
        
        
       $("#btn-subcategorie").click(function(e){
           $.ajax({
              type: 'post',
              url:'{{ path('tec_service_testajax')}}',
              
              success: function(data){
                  //alert('ok');
                  $('#resultat').html(data);
                  
                },
              error: function(data){
                  alert('ko');
                  alert(data);
                  $('#resultat').html(data);
                }
           });
       }) ;  
       
       //idem que l'autre mais en get
       $("#btn-load").click(function(e){
            
            $("#resultat").load("{{ path('tec_service_testajax') }}");
        });
            
            
    </script>


{% endblock %}
#}