{% extends "TecServiceBundle::layout.html.twig" %}
{% block title %}Populaide - Belgique - Results{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    {{ parent() }}
     <section id="works">
        Types:
        <ul>
        {% for type in types %}
            <li>{{ type.id ~ " " ~ type.intitule }}</li>
                <ul>
                {% for annonce in type.getAnnonces %}
                    <li>{{ annonce.id ~ " " ~ annonce.title }}</li>
                {% endfor %}
                </ul>
        {% endfor %}
        </ul>
    </section>
    
{% endblock %}
