{% extends "TecServiceBundle::layout.html.twig" %}
{% block title %}Populaide - Belgique - Results{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <section id="works">
        
        <h3>Categories:</h3>
        <ul>
        {% for categorie in categories %}
            <li>{{ categorie.id ~ " " ~ categorie.name ~ " " ~ categorie.description }}<a href="{{ path('tec_service_updatecategorie',{'id': categorie.id}) }}"> Modifier</a><a href="{{ path('tec_service_delcategorie',{'id': categorie.id}) }}"> Supprimer</a></li>
            {% if categorie.media != null %}
                
                <img
                src="{{ asset(categorie.media.uploadDir ~ '/' ~ categorie.media.id ~ categorie.media.path) }}"
                alt="{{ categorie.media.alt }}"
                width="100px"
                heigth="100px"
              />
            {% endif %}
            
            {#<ul>
                {% for subcategorie in categorie.getSubCategories %}
                    <li>{{ subcategorie.id ~ " " ~ subcategorie.name ~ " " ~ subcategorie.description }}</li>
                    <ul>
                        {% for annonce in subcategorie.getAnnonces %}
                            <li>{{ annonce.id ~ " " ~ annonce.title }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>#}
        {% endfor %}
        </ul>
    </section>
    


{% endblock %}
