{% extends "TecServiceBundle::layout.html.twig" %}
{% block title %}Populaide - Belgique - Results{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    {{ parent() }}
           
    <section id="works">
        <div class="container"> 
            Annonce:
            {{ annonce.id ~ " " ~ annonce.title ~ " " ~ annonce.description }}<a href="{{ path('tec_service_postulerannonce',{'id': annonce.id}) }}"> Postuler</a>
            {% if annonce.getUser.getId == app.user.id %}  
                <a href="{{ path('tec_service_updateannonce',{'id': annonce.id}) }}" class="menu-post" >
                    Modifier
                </a>
                <a href="{{ path('tec_service_delannonce',{'id': annonce.id}) }}" class="menu-post" >
                    Supprimer
                </a>
                {% else %}
                    <a href="{{ path('tec_user_profil', {'id' : annonce.getUser.getId}) }}" class="menu-post"><img class="icon-box img-responsive" src="{{ asset('images/pictos/contact.png') }}" alt="contact de l'annonceur" />
                        Contact
                    </a>
                    <a href="{{ path('tec_service_postulerannonce',{'id': annonce.id}) }}" class="menu-post" ><img class="icon-box img-responsive" src="{{ asset('images/pictos/coop.png') }}" alt="coopération" />
                        Collaborer
                    </a>
                {% endif %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                {{ flashMessage }}
            {% endfor %}
        </div>
    </section>
        
{% endblock %}
