{% extends "TecServiceBundle::layout.html.twig" %}
{% block title %}Populaide - Belgique - Results{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <section id="works">
        Annonces:
        <ul>
        {% for annonce in annonces%}
            <li>{{ annonce.id ~ " " ~ annonce.title ~ " " ~ annonce.description ~ " " ~ annonce.getType.getIntitule }}<a href="{{ path('tec_service_getannonce',{'id': annonce.id}) }}"> Voir +</a></li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}
