{% extends "TecServiceBundle::layout.html.twig" %}
{% block title %}Populaide - Belgique - Results{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <section id="works">
        <h3>Sub categorie:</h3>
        <ul>
        {% for subcategorie in subcategories %}
            <li>{{ subcategorie.id ~ " " ~ subcategorie.name ~ " " ~ subcategorie.description }}<a href="{{ path('tec_service_updatesubcategorie',{'id': subcategorie.id}) }}"> Modifier</a><a href="{{ path('tec_service_delsubcategorie',{'id': subcategorie.id}) }}"> Supprimer</a></li>
        {% endfor %}
        </ul>
    </section>
    
{% endblock %}
