{% extends "::base.html.twig"%}
{% block title %} Résultats {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
    {{ parent() }}
    <section class="search">
        <div class="container">                            
            <form  class="row form-inline">
                <select class="col-xs-12 col-md-4 form-control " name="Catégorie" autofocus>
                    <optgroup label="Animaux">
                        <option value="" id="hidden">Choisissez une catégorie</option>
                        <option value="">Garde chez le propriétaire</option>
                        <option value="">Garde à domicile</option>
                        <option value="">Promenade</option>
                        <option value="">Toilettage</option>
                    </optgroup>
                    <optgroup label="Cours">
                        <option value="">Couture</option>
                        <option value="">Peinture/dessin</option>
                        <option value="">Musique</option>
                        <option value="">Informatique</option>
                        <option value="">Langues</option>
                        <option value="">Cuisine</option>
                        <option value="">Rattrapage scolaire</option>
                        <option value="">Sport</option>
                    </optgroup>
                    <optgroup label="Soins et beauté">
                        <option value="">Pédicure</option>
                        <option value="">Manucure</option>
                        <option value="">Maquillage</option>
                        <option value="">Coiffure</option>
                        <option value="">Massage</option>
                    </optgroup>
                    <optgroup label="Jardinage">
                        <option value="">Aménagement extérieur</option>
                        <option value="">Entretien</option>
                    </optgroup>
                    <optgroup label="Transport">
                        <option value="">De personnes</option>
                        <option value="">De biens</option>
                    </optgroup>
                    <optgroup label="Bricolage">
                        <option value="">Habitat</option>
                        <option value="">Auto/Moto</option>
                        <option value="">Divers</option>
                    </optgroup>
                    <optgroup label="Animation">
                        <option value="">Clown, magicien, ventriloque...</option>
                        <option value="">DJ</option>
                        <option value="">Musicien/Groupe</option>
                    </optgroup>
                    <optgroup label="Assistance">
                        <option value="">Repassage</option>
                        <option value="">Couture</option>
                        <option value="">Nettoyage</option>
                        <option value="">Cuisine</option>
                        <option value="">Babysitting</option>
                        <option value="">Seniors</option>
                        <option value="">Rédaction/Relecture</option>
                        <option value="">Traduction/Interprétariat</option>
                    </optgroup>
                    <optgroup label="Multimédia">
                        <option value="">Réparation/Assistance/Dépannage matériel</option>
                        <option value="">Photo/Vidéo</option>
                        <option value="">Web</option>
                    </optgroup>
                </select>
                <input class="col-xs-12 col-md-4 form-control " type="text"/>
                <button class="" type="submit"><img src="{{ asset("images/pictos/search.png") }}" width="100" height="100"/></button>
            </form>
        </div>
    </section>  
{% endblock %}
{% block body %}
    {{ parent() }}
        <section id="works">
                <h3>Résultats de votre recherche</h3>
                <div class="container">
                    <div class="row text-center portfolio-item annonces">
                        <div class="col-md-3 col-sm-4 ">
                            <div class="box-annonce"> <!--360px * 318px -->
                                <img src="{{ asset('images/steps/user01.png') }}" alt="photo de profil" />
                                <ul>
                                    <li><p>Claudia</p></li>
                                    <li><span class="glyphicon glyphicon-certificate"><span></li>
                                    <li>
                                        <ol>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                        </ol>
                                    </li>
                                    <li>
                                    <p>5000</p>
                                    <p> Namur-les-Trucmuch</p>  
                                    </li>
                                    <li><h3>Baby-Sitting à domicile</h3></li> 
                                </ul>
                                <p id="debut-annonce">Claudia 19 ans propose baby-sitting tous les vendredis soirs à partir de 18h00</p>
                                <div>
                                  <img class="menu-annonce" src="{{ asset('images/pictos/anim.png') }}" alt="photo de profil" />
                                  <img class="menu-annonce" src="{{ asset('images/pictos/anim.png') }}" alt="photo de profil" />
                                  <img class="menu-annonce" src="{{ asset('images/pictos/anim.png') }}" alt="photo de profil" />
                                  <img class="menu-annonce" src="{{ asset('images/pictos/anim.png') }}" alt="photo de profil" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-4 ">
                            <div class="box-annonce"> <!--360px * 318px -->
                                <img src="assets/img/2.jpg" alt="Profil photo"/>
                                <ul>
                                    <li><p>User</p></li>
                                    <li>
                                        <ol>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                        </ol>
                                    </li>
                                    <li><h3>Titre de l'annonce</h3></li> <!--Marie Taille titre !!!!!-->
                                    <li><p>xxxx Région</p></li>
                                </ul>
                                <button class="btn btn-info col-xs-12 details">Voir détails</button>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 ">
                            <div class="box-annonce"> <!--360px * 318px -->
                                <img src="assets/img/2.jpg" alt="Profil photo"/>
                                <ul>
                                    <li><p>User</p></li>
                                    <li>
                                        <ol>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                        </ol>
                                    </li>
                                    <li><h3>Titre de l'annonce</h3></li> <!--Marie Taille titre !!!!!-->
                                    <li><p>xxxx Région</p></li>
                                </ul>
                                <button class="btn btn-info col-xs-12 details">Voir détails</button>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 ">
                            <div class="box-annonce"> <!--360px * 318px -->
                                <img src="assets/img/2.jpg" alt="Profil photo"/>
                                <ul>
                                    <li><p>User</p></li>
                                    <li>
                                        <ol>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                        </ol>
                                    </li>
                                    <li><h3>Titre de l'annonce</h3></li> <!--Marie Taille titre !!!!!-->
                                    <li><p>xxxx Région</p></li>
                                </ul>
                                <button class="btn btn-info col-xs-12 details">Voir détails</button>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 ">
                            <div class="box-annonce"> <!--360px * 318px -->
                                <img src="assets/img/2.jpg" alt="Profil photo"/>
                                <ul>
                                    <li><p>User</p></li>
                                    <li>
                                        <ol>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                        </ol>
                                    </li>
                                    <li><h3>Titre de l'annonce</h3></li> <!--Marie Taille titre !!!!!-->
                                    <li><p>xxxx Région</p></li>
                                </ul>
                                <button class="btn btn-info col-xs-12 details">Voir détails</button>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 ">
                            <div class="box-annonce"> <!--360px * 318px -->
                                <img src="assets/img/2.jpg" alt="Profil photo"/>
                                <ul>
                                    <li><p>User</p></li>
                                    <li>
                                        <ol>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                        </ol>
                                    </li>
                                    <li><h3>Titre de l'annonce</h3></li> <!--Marie Taille titre !!!!!-->
                                    <li><p>xxxx Région</p></li>
                                </ul>
                                <button class="btn btn-info col-xs-12 details">Voir détails</button>
                            </div>
                        </div>      
                        <div class="col-md-3 col-sm-4 ">
                            <div class="box-annonce"> <!--360px * 318px -->
                                <img src="assets/img/2.jpg" alt="Profil photo"/>
                                <ul>
                                    <li><p>User</p></li>
                                    <li>
                                        <ol>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                        </ol>
                                    </li>
                                    <li><h3>Titre de l'annonce</h3></li> <!--Marie Taille titre !!!!!-->
                                    <li><p>xxxx Région</p></li>
                                </ul>
                                <button class="btn btn-info col-xs-12 details">Voir détails</button>
                            </div>
                        </div>          
                        <div class="col-md-3 col-sm-4 ">
                            <div class="box-annonce"> 
                                <img src="assets/img/2.jpg" alt="Profil photo"/>
                                <ul>
                                    <li><p>User</p></li>
                                    <li>
                                        <ol>
                                            <li class="stars"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                            <li class="stars"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></li>
                                        </ol>
                                    </li>
                                    <li><h3>Titre de l'annonce</h3></li> 
                                    <li><p>xxxx Région</p></li>
                                </ul>
                                <button class="btn btn-info col-xs-12 details">Voir détails</button>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>    
    </section>
    <!--SERVICES SECTION END  -->
    <!--PAGES NAVIGATION-->
    <nav>
        <ul class="pagination">
          <li class="disable"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="active"><a href="afficher_recherche.html">1</a></li>
          <li><a href="afficher_recherche_pp.html">2</a></li>
          <li><a href="afficher_recherche_pp.html">3</a></li>
          <li><a href="afficher_recherche_pp.html">4</a></li>
          <li><a href="afficher_recherche_pp.html">5</a></li>
          <li><a href="afficher_recherche_pp.html" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>  
    <!--PAGES NAVIGATION END-->
   <div class="title">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <button class="btn btn-primary col-xs-12 post">Je poste une annonce</button>
                </div>
            </div>
        </div>
    </div>
    <!--POST SECTION END  -->
    <section id="category">
    <div class="container">
        <nav class="row">
            <ul>
                <li class="col-md-1 col-xs-3">
                        <a><img src="assets/img/audio.png" alt="" class="img-responsive" /></a>
                </li>
                <li class="col-md-1 col-xs-3">
                        <a><img src="assets/img/audio.png" alt="" class="img-responsive" /></a>
                </li>
                <li class="col-md-1 col-xs-3">
                        <a><img src="assets/img/audio.png" alt="" class="img-responsive" /></a>
                </li>
                <li class="col-md-1 col-xs-3">
                        <a><img src="assets/img/audio.png" alt="" class="img-responsive" /></a>
                </li>
                <li class="col-md-1 col-xs-3">
                        <a><img src="assets/img/audio.png" alt="" class="img-responsive" /></a>
                </li>
                <li class="col-md-1 col-xs-3">
                        <a><img src="assets/img/audio.png" alt="" class="img-responsive" /></a>
                </li>
                <li class="col-md-1 col-xs-3">
                        <a><img src="assets/img/audio.png" alt="" class="img-responsive" /></a>
                </li>
                <li class="col-md-1 col-xs-3">
                        <a><img src="assets/img/audio.png" alt="" class="img-responsive" /></a>
                </li>
            </ul>
            <!-- <div class="col-md-1">
                <img src="assets/img/audio.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-1">
                <img src="assets/img/codecanon.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-1">
                <img src="assets/img/graphic.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-1">
                <img src="assets/img/themeforest.png" alt="" class="img-responsive" />
            </div>
			<div class="col-md-1">
                <img src="assets/img/audio.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-1">
                <img src="assets/img/codecanon.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-1">
                <img src="assets/img/graphic.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-1">
                <img src="assets/img/themeforest.png" alt="" class="img-responsive" />
            </div> -->
        </nav>
    </div>
    </section>
    <!-- CATEGORY SECTION END-->
{% endblock %}