{% extends "TecServiceBundle::layout.html.twig" %}

{% block title %}Poster une annonce {{ parent() }}{% endblock %}

{#{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}#}

{% block img_h3 %}src="{{ asset('images/pictos/post.png') }}" alt="Rédiger une annonce" width="100" height="100"{% endblock %}
{% block h3 %}Mon annonce{% endblock %}

{% block body %}
    {{ parent() }}
    
    <section id="works">
        page de test
        {{ form(form) }}
    </section>
    


{% endblock %}
