{% extends "TecServiceBundle::layout.html.twig" %}

{% block title %}Poster une annonce {{ parent() }}{% endblock %}

{#{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}#}

{% block img_h3 %}src="{{ asset('images/pictos/post.png') }}" alt="Rédiger une annonce" width="100" height="100"{% endblock %}
{% block h3 %}Mon annonce{% endblock %}

{% block body %}
    {{ parent() }}
    
    {#<section id="works">#}
    <section class="clearfix">
        <div class="container">
        {#        {{ form(form) }}#}

            <div class="btn-group btn-group-lg" role="group" aria-label="how">
                <button type="button" class="btn btn-radio active">J'offre un service</button>
                <button type="button" class="btn btn-radio">J'ai besoin d'un service</button>
            </div>        
            
            {# Base formulaire qui redéfinit les checkbox #}
            {# app/Resources/views/form/field.html.twig #}
            {% form_theme form 'form/field.html.twig' %}
            {{ form(form) }}
            
        </div>
    </section>
            
            <!-- Button trigger modal -->
    {#<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>#}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            Appeler la vue postPreview
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Publier</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            
          </div>
        </div>
      </div>
    </div>
    


{% endblock %}
