{% extends "TecServiceBundle::layout.html.twig" %}

{% block title %}Poster une annonce {{ parent() }}{% endblock %}

{#{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}#}

{% block img_h3 %}src="{{ asset('images/pictos/post.png') }}" alt="Rédiger une annonce" width="100" height="100"{% endblock %}
{% block h3 %}Mon annonce{% endblock %}

{% block body %}
    {{ parent() }}
    
    {#<section id="works">#}
    <section id="form_contact"  class="clearfix">
        <div class="container">
        {#        {{ form(form) }}#}

            <div class="btn-group btn-group-lg" role="group" aria-label="how">
                <button type="button" class="btn btn-radio active">J'offre un service</button>
                <button type="button" class="btn btn-radio">J'ai besoin d'un service</button>
            </div>        
            
            {# Base formulaire qui redéfinit les checkbox #}
            {# app/Resources/views/form/field.html.twig #}
            {% form_theme form 'form/field.html.twig' %}
            {{ form(form) }}
        </div>
    </section>
    


{% endblock %}
