<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />        
        <title>{% block title %}| Populaide | Belgique{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- BOOTSTRAP STYLE SHEET -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <!-- FONT AWESOME ICONS STYLE SHEET -->
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
        <!-- CUSTOM STYLES -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
        <!-- FORMS STYLE SHEET -->
        <link href="{{ asset('css/form.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        
    </head>
    <body>
        {% block header %}
            <div class="navbar navbar-fixed-top">
                <div class="container">
                 <button type="button" class="btn btn-connexion">Connexion</button>
                </div>
            </div>
            <div id="home">
                <div class="overlay">
                    <div class="container">
                        <hgroup class="col-md-8 col-md-offset-2 text-center">
                            <h1><img src="{{ asset('images/logo.png') }}" alt="Popul'Aide" width='500'/></h1>
                            <h2>L'entraide connectée</h2>
                        </hgroup>
                    </div>
                </div>              
            </div>
            <!--HOME SECTION END  -->                            
        {% endblock %}
        
        {% block body %}{% endblock %}
        
        {% block footer %}
        <!--FOOTER DESKTOP-->
        <footer id="footer_desk">
            <ul>
                <li><a href="">Comment ça marche ?</a></li>
                <li><a href="{{ path('tec_user_contact') }}">Contact</a></li>
                <li><a href="">Inscription</a></li>
                <li><a href="">Conditions générales d'utilisation</a></li>
            </ul>
            <p>Playpark Technobel septembre-octobre 2015</p>
        </footer>
        <!--FOOTER MOBILE-->
        <footer class="footer_mob search ">
            <div class="container">                            
                <form  class="row form-inline">
                    <select class="col-xs-12 col-md-4 form-control " name="Catégorie" autofocus>
                        <optgroup label="Animaux">
                            <option value="" id="hidden">Choisissez une catégorie</option>
                            <option value="">Garde chez le propriétaire</option>
                            <option value="">Garde à domicile</option>
                            <option value="">Promenade</option>
                            <option value="">Toilettage</option>
                        </optgroup>
                        <optgroup label="Cours">
                            <option value="">Couture</option>
                            <option value="">Peinture/dessin</option>
                            <option value="">Musique</option>
                            <option value="">Informatique</option>
                            <option value="">Langues</option>
                            <option value="">Cuisine</option>
                            <option value="">Rattrapage scolaire</option>
                            <option value="">Sport</option>
                        </optgroup>
                        <optgroup label="Soins et beauté">
                            <option value="">Pédicure</option>
                            <option value="">Manucure</option>
                            <option value="">Maquillage</option>
                            <option value="">Coiffure</option>
                            <option value="">Massage</option>
                        </optgroup>
                        <optgroup label="Jardinage">
                            <option value="">Aménagement extérieur</option>
                            <option value="">Entretien</option>
                        </optgroup>
                        <optgroup label="Transport">
                            <option value="">De personnes</option>
                            <option value="">De biens</option>
                        </optgroup>
                        <optgroup label="Bricolage">
                            <option value="">Habitat</option>
                            <option value="">Auto/Moto</option>
                            <option value="">Divers</option>
                        </optgroup>
                        <optgroup label="Animation">
                            <option value="">Clown, magicien, ventriloque...</option>
                            <option value="">DJ</option>
                            <option value="">Musicien/Groupe</option>
                        </optgroup>
                        <optgroup label="Assistance">
                            <option value="">Repassage</option>
                            <option value="">Couture</option>
                            <option value="">Nettoyage</option>
                            <option value="">Cuisine</option>
                            <option value="">Babysitting</option>
                            <option value="">Seniors</option>
                            <option value="">Rédaction/Relecture</option>
                            <option value="">Traduction/Interprétariat</option>
                        </optgroup>
                        <optgroup label="Multimédia">
                            <option value="">Réparation/Assistance/Dépannage matériel</option>
                            <option value="">Photo/Vidéo</option>
                            <option value="">Web</option>
                        </optgroup>
                    </select>
                    <input class="col-xs-12 col-md-4 form-control " type="text"/>
                    <button type="submit"><img src="{{ asset("images/pictos/search.png") }}" width="100" height="100"/></button>
                </form>
            </div>
            <!--SEARCH SECTION END  -->
            <div class="container">
                <div class="row">
                    <button class="btn btn-primary col-xs-12 post">Je poste une annonce</button>
                </div>
            </div>
            <!--POST SECTION END  -->
            <p>Playpark Technobel septembre-octobre 2015</p>
        </footer>
        {% endblock %}
        {% block javascripts %}
        <!-- REQUIRED SCRIPTS FILES -->
        <!-- CORE JQUERY FILE -->
        <script src="assets/js/jquery-1.11.1.js"></script>
        <!-- REQUIRED BOOTSTRAP SCRIPTS -->
        <script src="assets/js/bootstrap.js"></script>
        <!-- SCROLLING SCRIPTS PLUGIN  -->
        <script src="assets/js/jquery.easing.min.js"></script>
        <!-- CUSTOM SCRIPTS   -->
        <script src="assets/js/custom.js"></script>
        {% endblock %}
    </body>
</html>
