{#{% extends "TecServiceBundle::layout.html.twig" %}#}
{% extends "::base.html.twig" %}

{% block title %}Contact {{ parent() }}{% endblock %}

{% block img_h3 %}src="{{ asset('images/pictos/contact.png') }}" alt="Nous contacter" width="100" height="100"{% endblock %}
{% block h3 %}Contact{% endblock %}

{% block body %}
{{ parent() }}
    
    
    <section id="form_contact" class="clearfix">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert-success has-success">{{ flashMessage }}</div>
            {% endfor %}
            <div class="form row form-inline form-one clearfix">
                {{ form(form) }}
            </div>
        </div>
    </section>
    
<!--POST FORM SECTION END  -->
{% endblock %}