{% extends "TecServiceBundle::layout.html.twig" %}

{% block title %}Comment ça marche ? {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show-pages.css') }}" rel="stylesheet" type="text/css" />
    <!-- HOW STYLE SHEET -->
{% endblock %}

{% block h3 %}Comment ça marche ?{% endblock %}

{% block body %}
{{ parent() }}
    <section id="how">
        {#<div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <div class="btn-group btn-group-lg" role="group" aria-label="how">
                        <button type="button" class="btn btn-radio active">J'offre un service</button>
                        <button type="button" class="btn btn-radio">J'ai besoin d'un service</button>
                    </div>
                    <ul class="pagination pagination-lg">
                        <li class="active"><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-left portfolio-item">
                <div class="col-md-12 col-sm-12 ">
                    <div class="alert box-how clearfix">
                        <img src="{{ asset('images/steps/03b.png') }}" class="img-responsive " alt="" />
                        <h3>Manifestez votre intérêt</h3>
                        <p>Morbi sit amet urna sodales, pulvinar risus ut, sollicitudin nunc. Cras pretium tortor sollicitudin tempus ultrices.</p>
                        <p>Duis leo odio, egestas sed elit ac, placerat placerat nulla. Mauris blandit arcu a sem elementum sollicitudin. Nam varius erat eu neque luctus maximus. Nam suscipit imperdiet quam. Sed porta viverra efficitur.</p>
                    </div>
                </div>
            </div>
        </div>#}
        
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="15000">
            <!-- Indicators -->
            {#<ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>#}
            
            <div class="row text-center pad-bottom centre">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 bigger">
{#                    <div class="btn-group btn-group-lg" role="group" aria-label="how">
                        <button type="button" class="btn btn-radio active">J'offre un service</button>
                        <button type="button" class="btn btn-radio">J'ai besoin d'un service</button>
                    </div>#}
                    <ul class="carousel-indicators">
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="0" class="active">1</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="1">2</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="2">3</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="3">4</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="4">5</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="5">6</li>
                    </ul>
                </div>
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <!--Demandeur/Prestataire-->
              <div class="item active">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/01.png') }}" class="img-responsive " alt="" />
                                <h3>Connectez-vous ou inscrivez-vous !</h3>
                                <p>C'est facile, gratuit et vous pourrez collaborer avec des centaines de personnes dans votre région !</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!--Demandeur 2-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item center">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/02a.png') }}" class="img-responsive " alt="" />
                                <h3>Cherchez un service</h3>
                                <p>Vous avez besoin d'aide pour repeindre votre cuisine?</p>
                                <p>Choisissez simplement la catégorie Bricolage et saisissez votre code postal !</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!--Demandeur 3-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/03a.png') }}" class="img-responsive img-down" alt="" />
                                <h3>Manifestez votre intérêt</h3>
                                <p>Si une annonce correspond au(x) type(s) de service(s) que vous cherchez, cliquez sur l’icône représentée ci-dessus afin de communiquer vos coordonnées au membre.</p>
                                <p>Ensuite, attendez simplement que ce dernier vous contacte par les moyens que avez rendus publics sur votre profil.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <!--Demandeur 4-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/04a.png') }}" class="img-responsive " alt="" />
                                <h3>Entrez en contact avec le prestataire</h3>
                                <p>Convenez d'un rendez-vous avec le prestataire choisi.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <!--Demandeur 5-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/05a.png') }}" class="img-responsive " alt="" />
                                <h3>La prestation</h3>
                                <p>Prestez la tâche pour laquelle vous aviez besoin d'aide avec l'aide du prestataire que vous avez choisi.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <!--Demandeur 6-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/06a.png') }}" class="img-responsive " alt="" />
                                <h3>Évaluez le prestataire</h3>
                                <p>Une fois la tâche accomplie, évaluez la prestation sur le profil public du prestataire.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </section>
    <!--HOW SECTION END  -->

{% endblock %}
