{% extends "::base.html.twig"%}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Réseau d'entraide local {{ parent() }}{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %} 
{% block search %}
<section class="search">
    <div class="container">                            
    <form  class="row form-inline" action="{{ path("tec_service_searchannonce2") }}" method="POST">
        <select class="col-xs-12 col-md-4 form-control " name="categorie" autofocus>
            <optgroup label="Animaux">
                <option value="" id="hidden">Choisissez une catégorie</option>
                <option value="2">Garde chez le propriétaire</option>
                <option value="3">Garde à domicile</option>
                <option value="4">Promenade</option>
                <option value="5">Toilettage</option>
            </optgroup>
            <optgroup label="Cours">
                <option value="6">Couture</option>
                <option value="7">Peinture/dessin</option>
                <option value="8">Musique</option>
                <option value="9">Informatique</option>
                <option value="10">Langues</option>
                <option value="11">Cuisine</option>
                <option value="12">Rattrapage scolaire</option>
                <option value="13">Sport</option>
            </optgroup>
            <optgroup label="Soins et beauté">
                <option value="14">Pédicure</option>
                <option value="15">Manucure</option>
                <option value="16">Maquillage</option>
                <option value="17">Coiffure</option>
                <option value="18">Massage</option>
            </optgroup>
            <optgroup label="Jardinage">
                <option value="19">Aménagement extérieur</option>
                <option value="20">Entretien</option>
            </optgroup>
            <optgroup label="Transport">
                <option value="20">De personnes</option>
                <option value="21">De biens</option>
            </optgroup>
            <optgroup label="Bricolage">
                <option value="22">Habitat</option>
                <option value="23">Auto/Moto</option>
                <option value="24">Divers</option>
            </optgroup>
            <optgroup label="Animation">
                <option value="25">Clown, magicien, ventriloque...</option>
                <option value="26">DJ</option>
                <option value="27">Musicien/Groupe</option>
            </optgroup>
            <optgroup label="Assistance">
                <option value="28">Repassage</option>
                <option value="29">Couture</option>
                <option value="30">Nettoyage</option>
                <option value="31">Cuisine</option>
                <option value="32">Babysitting</option>
                <option value="33">Seniors</option>
                <option value="34">Rédaction/Relecture</option>
                <option value="35">Traduction/Interprétariat</option>
            </optgroup>
            <optgroup label="Multimédia">
                <option value="36">Réparation/Assistance/Dépannage matériel</option>
                <option value="37">Photo/Vidéo</option>
                <option value="38">Web</option>
            </optgroup>
        </select>
        <input class="col-xs-12 col-md-4 form-control " type="text" name="localite"/>
        <button type="submit"><img src="{{ asset("images/pictos/search.png") }}" width="100" height="100"/></button>
    </form>
    </div>
</section>
<!--SEARCH SECTION END-->
<div class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></div>
{% endblock %}


{% block body %}
    <div class="post-section">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <a href="{{ path("tec_service_addannonce") }}"><button class="btn btn-primary col-xs-12 post">Je poste une annonce</button></a>
                </div>
            </div>
        </div>
    </div>
    <!--POST SECTION END  -->
    <div class="connection">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <button class="btn btn-secondary col-xs-12">Connexion</button>
                </div>
            </div>
        </div>
    </div>
    <!--CONNECTION SECTION END  -->
    <section id="category">
        <div class="container">
            <nav class="row">
                <ul>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 1}) }}">
                                <img src="{{ asset('images/pictos/brico.png') }}" width="45" alt="" class="img-responsive" />
                                Bricolage
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 2}) }}">
                                <img src="{{ asset('images/pictos/jardi.png') }}" width="45" alt="" class="img-responsive" />
                                Jardinage
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 1}) }}">
                                <img src="{{ asset('images/pictos/media.png') }}" width="45" alt="" class="img-responsive" />
                                Multimédia
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 2}) }}">
                                <img src="{{ asset('images/pictos/pets.png') }}" width="45" alt="" class="img-responsive" />
                                Animaux
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 1}) }}">
                                <img src="{{ asset('images/pictos/anim.png') }}" width="45" alt="" class="img-responsive" />
                                Animation
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 2}) }}">
                                <img src="{{ asset('images/pictos/wellness.png') }}" width="45" alt="" class="img-responsive" />
                                Bien-être
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 1}) }}">
                                <img src="{{ asset('images/pictos/cours.png') }}" width="45" alt="" class="img-responsive" />
                                Cours
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 2}) }}">
                                <img src="{{ asset('images/pictos/assist.png') }}" width="45" alt="" class="img-responsive" />
                                Assistance
                            </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- CATEGORY SECTION END-->
    <section id="how">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h3 class="head-set">Comment ça marche ?</h3>
                    <div class="btn-group btn-group-lg" role="group" aria-label="how">
                        <button type="button" class="btn btn-radio active">J'offre un service</button>
                        <button type="button" class="btn btn-radio">J'ai besoin d'un service</button>
                    </div>
                    <ul class="pagination pagination-lg">
                        <li class="active"><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-left portfolio-item">
                <div class="col-md-12 col-sm-12 ">
                    <div class="alert box-how clearfix">
                        <img src="{{ asset('images/steps/03b.png') }}" class="img-responsive " alt="" />
                        <h3>Manifestez votre intérêt</h3>
                        <p>Morbi sit amet urna sodales, pulvinar risus ut, sollicitudin nunc. Cras pretium tortor sollicitudin tempus ultrices.</p>
                        <p>Duis leo odio, egestas sed elit ac, placerat placerat nulla. Mauris blandit arcu a sem elementum sollicitudin. Nam varius erat eu neque luctus maximus. Nam suscipit imperdiet quam. Sed porta viverra efficitur.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--HOW SECTION END  -->
{% endblock %}
