{% extends "::base.html.twig"%}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Réseau d'entraide local {{ parent() }}{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %} 
{% block search %}
<section class="search index">
    <div class="container">                            
    <form  class="row form-inline" action="{{ path("tec_service_searchannonce2") }}" method="POST">
        {#<select class="col-xs-12 col-md-4 form-control " name="categorie" autofocus>#}
{#include Tec...:action (appeler action du controller) -> tester
et une vue contenant et contruisant un select#}
        {% render path('tec_service_testselect') %}
            {#<optgroup label="Animaux">
                <option value="" id="hidden">Choisissez une catégorie</option>
                <option value="2">Garde chez le propriétaire</option>
                <option value="3">Garde à domicile</option>
                <option value="4">Promenade</option>
                <option value="5">Toilettage</option>
            </optgroup>
            <optgroup label="Cours">
                <option value="6">Couture</option>
                <option value="7">Peinture/dessin</option>
                <option value="8">Musique</option>
                <option value="9">Informatique</option>
                <option value="10">Langues</option>
                <option value="11">Cuisine</option>
                <option value="12">Rattrapage scolaire</option>
                <option value="13">Sport</option>
            </optgroup>
            <optgroup label="Soins et beauté">
                <option value="14">Pédicure</option>
                <option value="15">Manucure</option>
                <option value="16">Maquillage</option>
                <option value="17">Coiffure</option>
                <option value="18">Massage</option>
            </optgroup>
            <optgroup label="Jardinage">
                <option value="19">Aménagement extérieur</option>
                <option value="20">Entretien</option>
            </optgroup>
            <optgroup label="Transport">
                <option value="20">De personnes</option>
                <option value="21">De biens</option>
            </optgroup>
            <optgroup label="Bricolage">
                <option value="22">Habitat</option>
                <option value="23">Auto/Moto</option>
                <option value="24">Divers</option>
            </optgroup>
            <optgroup label="Animation">
                <option value="25">Clown, magicien, ventriloque...</option>
                <option value="26">DJ</option>
                <option value="27">Musicien/Groupe</option>
            </optgroup>
            <optgroup label="Assistance">
                <option value="28">Repassage</option>
                <option value="29">Couture</option>
                <option value="30">Nettoyage</option>
                <option value="31">Cuisine</option>
                <option value="32">Babysitting</option>
                <option value="33">Seniors</option>
                <option value="34">Rédaction/Relecture</option>
                <option value="35">Traduction/Interprétariat</option>
            </optgroup>
            <optgroup label="Multimédia">
                <option value="36">Réparation/Assistance/Dépannage matériel</option>
                <option value="37">Photo/Vidéo</option>
                <option value="38">Web</option>
            </optgroup>#}
{#        </select>#}
        <input class="col-xs-12 col-md-4 form-control " type="text" name="localite"/>
        <button type="submit"><img src="{{ asset("images/pictos/search.png") }}" width="100" height="100"/></button>
    </form>
    </div>
</section>
<!--SEARCH SECTION END-->
<div class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></div>
{% endblock %}


{% block body %}
    {% block inside_title %}{% endblock %}
    <div class="post-section">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <a href="{{ path("tec_service_addannonce") }}"><button class="btn btn-primary col-xs-12 post">Je poste une annonce</button></a>
                </div>
            </div>
        </div>
    </div>
    <!--POST SECTION END  -->
    <div class="connection">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <button class="btn btn-secondary col-xs-12">Connexion</button>
                </div>
            </div>
        </div>
    </div>
    <!--CONNECTION SECTION END  -->
    <section id="category">
        <div class="container">
            <nav class="row">
                <ul>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 5}) }}">
                                <img src="{{ asset('images/pictos/brico.png') }}" width="45" alt="" class="img-responsive" />
                                Bricolage
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 7}) }}">
                                <img src="{{ asset('images/pictos/jardi.png') }}" width="45" alt="" class="img-responsive" />
                                Jardinage
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 8}) }}">
                                <img src="{{ asset('images/pictos/media.png') }}" width="45" alt="" class="img-responsive" />
                                Multimédia
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 1}) }}">
                                <img src="{{ asset('images/pictos/pets.png') }}" width="45" alt="" class="img-responsive" />
                                Animaux
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 2}) }}">
                                <img src="{{ asset('images/pictos/anim.png') }}" width="45" alt="" class="img-responsive" />
                                Animation
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 4}) }}">
                                <img src="{{ asset('images/pictos/wellness.png') }}" width="45" alt="" class="img-responsive" />
                                Bien-être
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 6}) }}">
                                <img src="{{ asset('images/pictos/cours.png') }}" width="45" alt="" class="img-responsive" />
                                Cours
                            </a>
                    </li>
                    <li class="col-md-1 col-xs-4">
                            <a href="{{ path('tec_service_getannoncecategorie',{'id': 3}) }}">
                                <img src="{{ asset('images/pictos/assist.png') }}" width="45" alt="" class="img-responsive" />
                                Assistance
                            </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- CATEGORY SECTION END-->
    {#<section id="how">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h3 class="head-set">Comment ça marche ?</h3>
                    <div class="btn-group btn-group-lg" role="group" aria-label="how">
                        <button type="button" class="btn btn-radio active">J'offre un service</button>
                        <button type="button" class="btn btn-radio">J'ai besoin d'un service</button>
                    </div>
                    <ul class="pagination pagination-lg">
                        <li class="active"><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-left portfolio-item">
                <div class="col-md-12 col-sm-12 ">
                    <div class="alert box-how clearfix">
                        <img src="{{ asset('images/steps/03b.png') }}" class="img-responsive " alt="" />
                        <h3>Manifestez votre intérêt</h3>
                        <p>Morbi sit amet urna sodales, pulvinar risus ut, sollicitudin nunc. Cras pretium tortor sollicitudin tempus ultrices.</p>
                        <p>Duis leo odio, egestas sed elit ac, placerat placerat nulla. Mauris blandit arcu a sem elementum sollicitudin. Nam varius erat eu neque luctus maximus. Nam suscipit imperdiet quam. Sed porta viverra efficitur.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>#}
    <!--HOW SECTION END  -->
    
    <section id="how">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="15000">
            <!-- Indicators -->
            {#<ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>#}
            
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h3 class="head-set">Comment ça marche ?</h3>
                    <div class="btn-group btn-group-lg" role="group" aria-label="how">
                        <button type="button" class="btn btn-radio active">J'offre un service</button>
                        <button type="button" class="btn btn-radio">J'ai besoin d'un service</button>
                    </div>
                    <ul class="carousel-indicators">
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="0" class="active">1</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="1">2</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="2">3</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="3">4</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="4">5</li>
                        <li data-pause="hover" data-target="#carousel-example-generic" data-slide-to="5">6</li>
                    </ul>
                </div>
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <!--Demandeur/Prestataire-->
              <div class="item active">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/01.png') }}" class="img-responsive " alt="" />
                                <h3>Connectez-vous ou inscrivez-vous !</h3>
                                <p>C'est facile, gratuit et vous pourrez collaborer avec des centaines de personnes dans votre région !</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!--Demandeur 2-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/02a.png') }}" class="img-responsive " alt="" />
                                <h3>Cherchez un service</h3>
                                <p>Vous avez besoin d'aide pour repeindre votre cuisine?</p>
                                <p>Choisissez simplement la catégorie Bricolage et saisissez votre code postal !</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!--Demandeur 3-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/03a.png') }}" class="img-responsive " alt="" />
                                <h3>Manifestez votre intérêt</h3>
                                <p>Si une annonce correspond au(x) type(s) de service(s) que vous cherchez, cliquez sur l’icône représentée ci-dessus afin de communiquer vos coordonnées au membre.</p>
                                <p>Ensuite, attendez simplement que ce dernier vous contacte par les moyens que avez rendus publics sur votre profil.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <!--Demandeur 4-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/04a.png') }}" class="img-responsive " alt="" />
                                <h3>Entrez en contact avec le prestataire</h3>
                                <p>Convenez d'un rendez-vous avec le prestataire choisi.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <!--Demandeur 5-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/05a.png') }}" class="img-responsive " alt="" />
                                <h3>La prestation</h3>
                                <p>Prestez la tâche pour laquelle vous aviez besoin d'aide avec l'aide du prestataire que vous avez choisi.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <!--Demandeur 6-->
              <div class="item">
                <div class="container">
                    <div class="row text-left portfolio-item">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="alert box-how clearfix">
                                <img src="{{ asset('images/steps/06a.png') }}" class="img-responsive " alt="" />
                                <h3>Évaluez le prestataire</h3>
                                <p>Une fois la tâche accomplie, évaluez la prestation sur le profil public du prestataire.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </section>
{% endblock %}
