{#{% extends "TecUserBundle::layout.html.twig" %}#}
{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet" type="text/css" />
    <!-- PROFILE STYLE SHEET -->
{% endblock %}

{% block title %}{{ user.username }} {{ parent() }}{% endblock %}

{% block img_h3 %}src="{{ asset('images/pictos/user.png') }}" alt="Nous contacter" width="100" height="100"{% endblock %}
{% block h3 %}{{ user.username }}{% endblock %}

{% block body %}
{{ parent() }}
    <div class="profile-block">
        <div class="container">
            <ul class="profile">
                <li class="active"><a data-toggle="tab" href="#profil">Profil</a></li>
                <li><a data-toggle="tab" href="#reponses">Réponses</a></li>
                <li><a data-toggle="tab" href="#propositions">Propositions</a></li>
                <li><a data-toggle="tab" href="#services">Services</a></li>
                <li><a data-toggle="tab" href="#notifications">Notifications</a></li>
                <li><a data-toggle="tab" href="#annonces">Mes annonces</a></li>
            </ul>
        </div>    
    </div>
    
    <section id="general">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert-success has-success">{{ flashMessage }}</div>
            {% endfor %}
            <div class="tab-content">
            <div id="profil" class="tab-pane fade in active">
                <div class='row'>
                    {% if user.media != null %}
                        <img
                            src="{{ asset(user.media.uploadDir ~ '/' ~ user.media.id ~ user.media.path) }}"
                            alt="{{ user.media.alt ~ user.username }}"
                            width="150px"
                            heigth="150px"
                        />
                    {% else %}
                        <img src="{{ asset('images/pictos/user_carre.png') }}" width="150" height="150"/>
                    {% endif %}
                    <h4>Evaluation globale</h4>
                    <ol id="stars">
                        <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                        <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                        <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                        <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                        <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
                        <li><span>(XX votes)</span></li>
                    </ol>
                    
                    <!--Prénom Nom-->
                    <h4>{{ user.firstname }} {{ user.name }}</h4>
                    
                    <!--Date de naissance-->
                    <p>{{ user.birthdate | date('d/m/Y') }}</p>
                    
                    <!--Adresse-->
{#                    <p>{{ user.getAdresse.getStreet }} {{ user.getAdresse.getNumber }} {% if user.getAdresse.getBox is not null %}{{ user.getAdresse.getBox }} {% endif %}</p>#}
 
                    <!--Mail-->
                    <p>{{ user.email }}</p>
                    
                    <!--Phone-->
                    {% if user.phone is not null %}
                    <p>{{ user.phone }}</p>
                    {% endif %}

                    <h4>Disponibilité
                    {% if user.disponible %}
                        <span class="user-status green"></span>
                    {% else %}
                        <span class="user-status red"></span>
                    {% endif %}
                    </h4>
                    
                    <!--Date de création-->
                    <p>Inscrit depuis le {{ user.creationdate | date('d/m/Y') }}</p>  
                    
                    <a class="btn btn-primary btn-lg col-xs-2 col-md-2 form-control" href="{{ path('tec_service_updateuser', {'id': user.id})}}">Modifier le profil</a>
                </div>
            </div>
            <div id="reponses" class="tab-pane fade">
              <h3>Ces personnes ont répondu à vos annonces</h3>
              <div class='row'>
                <div class="col-xs-12 panel panel-default">
                    {% set testnbval = 0 %}
                    {% if user.getAnnonces is empty%}
                        {{ "Vous n'avez pas d'annonce donc aucune réponse." }}
                    {% else %}                        
                        {% for annonce in user.getAnnonces %}  
                            {% if annonce.getPostules is not empty%}
                                {% set testnbval = 1 %}
                            {% endif %}
                        {% endfor%}
                    {% endif %}
                    {% if testnbval == 1 %}                                               
                <!-- Default panel contents -->
                    <div class="panel-heading"Service</div> 
                    <div class="panel-body">
                        Explication .....
                    </div>
                        <!-- Table -->
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>    
                              <th>Date création</th>
                              <th>Date réponse</th>
                              <th>Etat</th>
                              <th>Utilisateurs</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% set indice = 1 %}  
                            {% for annonce in user.getAnnonces %}  
                                {% for postule in annonce.getPostules %}
                                    {% if (postule.etat is null) and (postule.getUser.getId !=  app.user.id) %}
                                    <tr>
                                      <th scope="row">{{ indice }}</th>
                                      <td>{{ postule.datecreate | date('d/m/y') }}</td>                                    
                                      {% if postule.etat == true %}
                                          <td>{{ postule.dateupdate | date('d/m/y') }}</td>
                                          <td>{{ "Accepte" }}</td>                                      
                                      {% elseif postule.etat is null %}
                                          <td>{{ "-"}}</td>                                      
                                          <td>{{ "En attente" }}</td>
                                      {% else %}
                                          <td>{{ "Refuse" }}</td> 
                                          <td>{{ postule.dateupdate | date('d/m/y') }}</td>                                                                           
                                      {% endif %}
                                      <td>{{ postule.getUser.getUsername }}</td>
                                      {% if postule.getDateUpdate is null %}
                                        <td><a href="{{ path('tec_service_accepterpostulerannonce',{'id': postule.id}) }}"> Accepter</a><a href="{{ path('tec_service_refuserpostulerannonce',{'id': postule.id}) }}"> Refuser</a></td>
                                      {% else %}
                                          <td>{{ "Vous avez deja fait un choix" }}</td>
                                      {% endif %}
                                    </tr>
                                    {% set indice= indice + 1 %} 
                                {% endif %}
                                {% endfor %}
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>  
                    {% else %}
                          {{ "Vous n'avez aucune réponse." }}
                    {% endif%}
                </div>              
            </div>
            </div>
            <div id="propositions" class="tab-pane fade">
              <div class='row'>
                <h3>Vous avez répondu à ces annonces</h3>
                <div class='row'>
                  <div class="col-xs-12 panel panel-default"> 
                    {% set testnbval = 0 %}
                    {% if user.getPostules is not empty%} 
                  <!-- Default panel contents -->
                      <div class="panel-heading"Service</div>                        
                          <!-- Table -->
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>    
                                <th>Date creation</th>
                                <th>Etat</th>
                                <th>Date mise a jour</th>
                                <th>Annonce</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% set indice = 1 %}  
                                {% for postule in user.getPostules %}
                                  <tr>
                                  <th scope="row">{{ indice }}</th>
                                  <td>{{ postule.datecreate | date('d/m/y') }}</td>                                    
                                  {% if postule.etat == true %}
                                      <td>{{ postule.dateupdate | date('d/m/y') }}</td>
                                      <td>{{ "Accepte" }}</td>                                      
                                  {% elseif postule.etat is null %}
                                      <td>{{ "En attente" }}</td>
                                      <td>{{ "-"}}</td>
                                  {% else %}
                                      <td>{{ "Refuse" }}</td> 
                                      <td>{{ postule.dateupdate | date('d/m/y') }}</td>                                                                           
                                  {% endif %}   
                                  <td><a href="{{path('tec_service_getannonce', {'id': postule.getAnnonce.getId})}}">{{ postule.getAnnonce.getTitle }}</a></td>
                                  <td>{#                                       
                                      si l'etat est différent de true il peut la supprimer
                                      l'attribut true ne sert a rien
                                      postule sera supprimé si elle est acceptée
                                      ou 
                                      si elle a été refusée et que l'user clic sur Annuler
                                      #}
                                      {#<a href="{{path('tec_service_delpostule', {'id': postule.id})}}">{{ Annuler la proposition }}</a>#}
                                  </td>
                                </tr>
                                  {% set indice= indice + 1 %} 
                                {% endfor %}
                            </tbody>
                          </table>
                      </div>   
                      {% else %}
                          {{ "Vous n'avez postulé pour aucune annonce." }}
                      {% endif%}
                  </div>              
                </div>
              </div>
            </div>    
            <div id="services" class="tab-pane fade">
                <div class='row'>
                    <div class="col-xs-12 panel panel-default">
                        {# test si l'user a au moins un service #}
                        {% if (user.getDemandes is not empty) or (user.getFournit is not empty) %} 
                    <!-- Default panel contents -->
                        <div class="panel-heading"Service</div>                        
                            <!-- Table -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>#</th>                               
                                  <th>Etat</th>
                                  <th>Date de préstation</th>
                                  <th>Annonce</th>
                                  <th>Utilisateur</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% set indice = 1 %}  
                                {% for demande in user.getDemandes %}                                    
                                    <tr class="success">
                                      <th scope="row">{{ indice }}</th>
                                      <td>{{ demande.getService.active }}</td>
                                      <td>{{ demande.getService.dateservice | date('d/m/y') }}</td>    
                                      <td><a href="{{ path('tec_service_getannonce', {'id': demande.getService.getAnnonce.getId})}}">{{ demande.getService.getAnnonce.getTitle }}</a></td>
                                      <td>{{ demande.getService.getAnnonce.getUser }}</td>
                                      <td><a href="{{path('tec_service_delservice', {'id':demande.getService.getId})}}">Supprimer</a></td>
                                    </tr>
                                    {% set indice= indice + 1 %}                            
                                {% endfor %}
                                {% for fournit in user.getFournit %}                                    
                                    <tr class="danger">
                                      <th scope="row">{{ indice }}</th>
                                      <td>{{ fournit.getService.active }}</td>
                                      <td>{{ fournit.getService.dateService | date('d/m/y') }}</td>    
                                      <td>{{ fournit.getService.getAnnonce.getTitle }}</td>
                                      <td>{{ "Moi" }}</td>                                      
                                    </tr>
                                    {% set indice= indice + 1 %}                            
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                        {% else%}
                            {{ "Vous n'avez aucun service." }}
                        {% endif %}
                    </div>
                </div>                
            </div>
            <div id="notifications" class="tab-pane fade">
                <div class='row'>
                    <div class="col-xs-12 panel panel-default">    
                        {% if user.getNotifications is not empty %} 
                    <!-- Default panel contents -->
                        <div class="panel-heading"Service</div>                        
                            <!-- Table -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>#</th>    
                                  <th>Date creation</th>
                                  <th>Commentaire</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% set indice = 1 %}  
                                {% for notification in user.getNotifications %}                                    
                                    <tr>
                                      <th scope="row">{{ indice }}</th>
                                      <td>{{ notification.datecreate | date('d/m/y') }}</td>
                                      <td>{{ notification.commentaire }}</td>   
                                      <td>
                                          {% if notification.vue == 0 %}
                                          <a href="{{ path('tec_user_updatenotification',{'id': notification.id}) }}"> Vue</a>
                                          {% endif %}
                                          <a href="{{ path('tec_user_delnotification',{'id': notification.id}) }}"> Supprimer</a>
                                      </td>
                                    </tr>
                                    {% set indice= indice + 1 %}                                                           
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>  
                        {% else %}
                            {{ "Vous n'avez aucune notification" }}
                        {% endif%}
                    </div>
                </div>
            </div>
            <div id="annonces" class="tab-pane fade">
              <div class='row'>
                    <div class="col-xs-12 panel panel-default">   
                        {% if user.getAnnonces is not empty%} 
                    <!-- Default panel contents -->
                        <div class="panel-heading"Service</div>                        
                            <!-- Table -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>#</th>    
                                  <th>Titre</th>
                                  <th>Description</th>
                                  <th>Remarques</th>
                                  <th>Perimetre</th>
                                  <th>Aide</th>
                                  <th>Diffusion</th>
                                  <th>Active</th>
                                  <th>Date création</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% set indice = 1 %}  
                                {% for annonce in user.getAnnonces %}                                    
                                    <tr>
                                      <th scope="row">{{ indice }}</th>
                                      <td>{{ annonce.title }}</td>
                                      <td>{{ annonce.description | truncate(10) }}</td>   
                                      <td>{{ annonce.remarques | truncate (10) }}</td>   
                                      <td>{{ annonce.perimetre }}</td>  
                                      <td>{{ annonce.aide }}</td>  
                                      <td>{{ annonce.diffusion }}</td>  
                                      <td>{{ annonce.active }}</td> 
                                      <td>{{ annonce.creationDate | date('d/m/y') }}</td>
                                      <td><a href="{{ path('tec_service_updateannonce',{'id': annonce.id}) }}"> Modifier</a><a href="{{ path('tec_service_delannonce',{'id': annonce.id}) }}"> Supprimer</a></td> 
                                    </tr>
                                    {% set indice= indice + 1 %}                                                           
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                        {% else %}
                            {{ "Vous n'avez aucune annonce." }}
                        {% endif %}
                    </div>
                </div>              
            </div>
          </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $( document ).ready(function(){
            // Détecte le hash dans l'url, l'utilise pour sélectionner le lien correspondant, déclenche le clique
            //alert("a[href='" + window.location.hash + "']");
            $("a[href='" + window.location.hash + "']").trigger('click');
        });
</script>
    <!-- AJAX SCRIPTS   -->
{% endblock %}
