{% extends "::base.html.twig" %}

{% block title %}Mise à jour de {{ user.username }} {{ parent() }}{% endblock %}

{% block h3 %}Mise à jour de <span class='exergue'>{{ user.username }}</span>{% endblock %}
    
{% block body %}
    {{ parent() }}
    
    <section id="form_contact" class="clearfix">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert-success has-success">{{ flashMessage }}</div>
            {% endfor %}
            <div class="form row form-inline form-one clearfix">
                {% form_theme form 'form/field.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </section>
    
{% endblock %}
