{% extends "::base.html.twig" %}

{% block title %}Mise à jour de {{ user.username }} {{ parent() }}{% endblock %}

{% block h3 %}Mise à jour de <span class='exergue'>{{ user.username }}</span>{% endblock %}
    
{% block body %}
    {{ parent() }}
    
    <section id="form_contact" class="clearfix">
        <div class="container">
            <div class="form row form-inline form-one clearfix">
                {{ form(form) }}
            </div>
        </div>
    </section>
    
{% endblock %}
